@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

footer {
    width: 100%;
    margin-top: 5.563rem;
    font-family: 'Poppins', sans-serif;
}

.newsletter-container {
    width: 100%;
    @include flex-between;
    background-color: $color-purple-dark;
    padding: 2.75rem 4.5rem;
}

.newsletter-content {
    width: 50%;

    .newsletter-title {
        font-size: 2rem;
        font-weight: 600;
        color: $color-white;
    }

    .newsletter-description {
        font-size: 0.875rem;
        font-weight: lighter;
        color: $color-white;
    }

}

.newsletter-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.newsletter-row {
    @include flex-between;
    gap: 0.5rem;
}

.newsletter-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;

    label span {
        color: $color-white;
        font-size: 0.875rem;
    }
}

.social-media-container {
    width: 100%;
    background-color: $color-gray-primary;
    padding: 4.5rem 4.5rem;
    min-height: 17.625rem;
}

.social-media {
    width: 100%;
    display: flex;
    gap: 3rem;
}

.social-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .logo {
        width: 10.25rem;
        height: auto;
    }

    .brand-description {
        color: $color-dark-medium;
        font-size: 0.875rem;
        max-width: 18rem;
        line-height: 1.4;
    }

    .social-icons {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        a {
            @include button-reset;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.social-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    border-left: 1px solid $color-gray-medium;
}

.footer-column {
    min-width: 12rem;

    h3 {
        font-size: 1rem;
        font-weight: 600;
        color: $color-dark-high;
        margin-bottom: 0.75rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    a {
        color: $color-dark-light;
        text-decoration: none;
        font-size: 0.875rem;
        @include smooth-hover(color);

        &:hover {
            color: $color-dark-high;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .social-media {
        flex-direction: column;
    }

    .social-right {
        border-left: none;
        padding-left: 0;
        border-top: 1px solid $color-gray-medium;
        padding-top: 2rem;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .newsletter-container {
        flex-direction: column;
        gap: 2rem;
        padding: 2.313rem 1.25rem;
    }

    .newsletter-content {
        width: 100%;
    }

    .newsletter-form {
        width: 100%;
    }
}